<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>die Konsonanten: Unternehmung</title>
    <link href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css' rel='stylesheet' />
  </head>
  <body class='container'>
    <% if login? %>
      <form> <br>
        <input type="button" value="Abstimmung" onclick="window.location.href='/voting'" />
        <input type="button" value="Ergebnisse" onclick="window.location.href='/results'" />
        <input type="button" value="Profil" onclick="window.location.href='/profile'" />
        <% if admin? %>
            <input type="button" value="Aktivierung" onclick="window.location.href='/activate'" />
        <% end %>
        <input type="button" value="Logout" onclick="window.location.href='/logout'" />
      </form>
    <% end %>
    <h1><%= @title %></h1>
    <p><font color="red"><%= @message %></font></p>
    <%= yield %>
  </body>
</html>
