<!-- https://bootsnipp.com/snippets/featured/dynamic-form-fields-add-amp-remove-bs3 -->
<!-- https://bootsnipp.com/snippets/AXVrV -->
<html>
<body>
  <div class="panel panel-default m-bot20">
    <div class="panel-heading">
      <div class="pull-left">Neue Aktivität hinzufügen</div>
      <div class="clearfix"></div>
    </div>
    <div class="panel-body">
      <div class="padd">
        
        <div class="form quick-post">
          <!-- Edit profile form (not working)-->
          <form class="form-horizontal" action="/new_activity" method="post" >
            <!-- Title -->
            <div class="form-group">
              <label class="control-label col-lg-2" for="title">Aktivität</label>
              <div class="col-lg-10">
                <input class="form-control" id="activity" name="activity" type="text" pattern="[^\s]+" title="ohne Leerzeichen">
              </div>
            </div>
            <!-- Content -->
            <div class="form-group">
              <label class="control-label col-lg-2" for="content">Beschreibung</label>
              <div class="col-lg-10">
                <textarea class="form-control" id="desc" name="desc"></textarea>
              </div>
            </div>
            <!-- Ort & URL multi -->
            <div id="counter_fields">
            </div>
            <div class="form-group">
              <label class="control-label col-lg-2" for="content">Ort</label>
              <div class="add-location-txtfield col-lg-10">
                <input type="text" class="form-control" id="location1" name="location1" value="" >
              </div>
              <label class="control-label col-lg-2" for="content">URL</label>
              <div class="add-location-txtfield col-lg-10">
                <input type="url" class="form-control" id="url1" name="url1" value="https://">
              </div>
              <div class="add-location-btn">
                <button class="btn btn-success" type="button"  onclick="counter_fields();"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> </button>
              </div>
            </div>
            
            <!-- Buttons -->
            <div class="form-group">
              <!-- Buttons -->
              <div class="col-lg-offset-2 col-lg-9">
                <button type="submit" class="btn btn-primary">Speichern</button>
                <button type="reset" class="btn btn-default" onClick="window.location='/voting';">Abbrechen</button>
              </div>
            </div>
          </form>
        </div>
        
        
      </div>
      <div class="widget-foot">
        <!-- Footer goes here -->
      </div>
    </div>
  </div>
</body>
</html>
