<table class='table table-hover table-striped'>
  <% VotingTable.each do |activity, values| %>
  <tr>
    <th><%= activity %></th>
    <td><%= values['votes'].count %>
      <td><%= '#' * (values['votes'].count) %></td>
    </tr>
    <% end %>
  </table>
  <div class="col-lg-6">
    <section class="panel">
      <header class="panel-heading">
        Bar
      </header>
      <div class="panel-body text-center">
        <canvas id="bar" height="600" width="1000" style="width: 500px; height: 300px;"></canvas>
      </div>
    </section>
  </div>
  <p><a href='/voting'>Erneut teilnehmen!</a></p>
