<div class="mainContent">
  <div class="grid">
    <div class="alert alert-info fade in">
      <button data-dismiss="alert" class="close close-sm" type="button">
        <i class="icon-remove"></i>
      </button>
      <strong>Du bist bereits registriert? Zum Einloggen <a href="/">hier lang.</a></strong></br> 
      Nach Absenden des Formulars muss dein Account durch einen Admin freigeschaltet werden. Die Admins werden per Mail über den neuen Account informiert und ihn schnellstmöglich freischalten. Du erhälst nach erfolgreicher Freischaltung eine Mail.
    </div>
    
    <form class="login-form" action="/signup" method="post">        
      <div class="login-wrap">
          <p class="login-img"><i class="icon_lock_alt"></i></p>
          <div class="input-group">
            <span class="input-group-addon"><i class="icon_profile"></i></span>
            <input type="text" name="name" id="name" class="form-control" placeholder="Name" requiredautocomplete="on" autofocus>
          </div>
          <div class="input-group">
            <span class="input-group-addon"><i class="icon_mail"></i></span>
            <input type="email" name="email" id="email" class="form-control" placeholder="E-Mail" requiredautocomplete="on" autofocus>
          </div>
          <div class="input-group">
              <span class="input-group-addon"><i class="icon_key_alt"></i></span>
              <input type="password" id="password" name="password" class="form-control" required autocomplete="on" placeholder="Passwort" onchange=" this.setCustomValidity(this.validity.patternMismatch ? this.title : '');
                if(this.checkValidity()) form.confirmPassword.pattern = this.value;">
          </div>
          <div class="input-group">
              <span class="input-group-addon"><i class="icon_key_alt"></i></span>
              <input type="password" id="confirmPassword" class="form-control" required autocomplete="on" placeholder="Passwort wiederholen" onchange=" this.setCustomValidity(this.validity.patternMismatch ? this.title : '');">
          </div>
          <label class="checkbox">
              <!-- <input type="checkbox" value="remember-me"> Remember me -->
              <!-- <span class="pull-right"> <a href="#"> Forgot Password?</a></span> -->
          </label>
          <button class="btn btn-login btn-lg btn-block" type="submit">Registrierung</button>
          <button class="btn btn-info btn-lg btn-block" type="reset">Zurücksetzen</button>
          
      </div>
    </form>

  </div><!-- end grid -->
</div><!-- end mainContent -->
