<html>
<p> Hallo Admin!</p>
<p> Soeben wurde ein neuer Account angelegt, der noch nicht aktiviert ist. Bitte aktiviere den User <%= params[:name] %> über den Reiter <a href="locator.essig.one/activate">Aktivierung</a>. <br> <br>
Vielen Dank <br>
Die Konsonanten </p>
</html>
